name: Build Multi-Platform

on: workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - platform: iOS
            project: CBPlatformTest.iOS/CBPlatformTest.iOS.csproj
            output_dir: CBPlatformTest.iOS
            content_dir: bin/Release/net9.0-ios
            runtime: ios-arm64
            workload: ios
            os: macos-26
            tfm: net9.0-ios
          - platform: DesktopGL
            project: CBPlatformTest.DesktopGL/CBPlatformTest.DesktopGL.csproj
            output_dir: CBPlatformTest.DesktopGL
            content_dir: bin/Release/net9.0/win-x64
            runtime: win-x64
            workload: ""
            os: windows-latest
            tfm: net9.0
          - platform: Android
            project: CBPlatformTest.Android/CBPlatformTest.Android.csproj
            output_dir: CBPlatformTest.Android
            content_dir: bin/Release/net9.0-android/android-arm64
            runtime: android-arm64
            workload: android
            os: windows-latest
            tfm: net9.0-android
    steps:      

      - uses: actions/checkout@v5

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"

      - name: Install workload
        if: ${{ matrix.workload != '' }}
        run: dotnet workload install ${{ matrix.workload }}

      - name: Process content
        uses: ./.github/actions/build-content
        with:
          content-project-path: "./CBPlatformTest/Content"
          assets-source-path: "./CBPlatformTest/Content/Assets"
          monogame-platform: ${{ matrix.platform }}
          output-folder: "./CBPlatformTest/${{ matrix.output_dir }}/${{ matrix.content_dir }}"
          runtime-identifier: ${{ matrix.runtime }}

      - name: Restore ${{ matrix.platform }}
        working-directory: ./CBPlatformTest
        run: dotnet restore ${{ matrix.project }} -r ${{ matrix.runtime }}

      - name: Build ${{ matrix.platform }} (iOS)
        if: ${{ matrix.platform == 'iOS' }}
        working-directory: ./CBPlatformTest
        run: dotnet build -c Release ${{ matrix.project }} -p:WorkflowMode=true

      - name: Build ${{ matrix.platform }} (Other)
        if: ${{ matrix.platform != 'iOS' }}
        working-directory: ./CBPlatformTest
        run: dotnet build -c Release ${{ matrix.project }} -r ${{ matrix.runtime }} -p:WorkflowMode=true

      - name: Upload ${{ matrix.platform }} artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.platform }}-build
          path: CBPlatformTest/${{ matrix.output_dir }}/bin/Release/

      - name: Publish ${{ matrix.platform }} release
        if: ${{ matrix.platform != 'iOS' }}
        working-directory: ./CBPlatformTest
        run: dotnet publish ${{ matrix.project }} -c Release -r ${{ matrix.runtime }} -p:PublishReadyToRun=false -p:TieredCompilation=false -p:WorkflowMode=true --self-contained

      - name: Upload ${{ matrix.platform }} publish artifact
        if: ${{ matrix.platform != 'iOS' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.platform }}-publish
          path: CBPlatformTest/${{ matrix.output_dir }}/bin/Release/${{ matrix.tfm }}/${{ matrix.runtime }}/publish/
